@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('/images/background.png');
}

body > section {
    background: rgba(0, 0, 0, 0.75);
}

.bg-default {
    background: #23272A;
}

.bg-discord {
    background: #7289DA;
}

.bg-navbar {
    background: #212325;
}
